.display-box-fine-tunning-scancode{
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-weight: 480 !important;
    font-size:12px;
    height:95px;
    /* width:200px !important;   */
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: rgb(140, 141, 142);
    margin-top:-5px; 
}
.display-box-fine-tunning{
  width: auto;
  height: 35px !important;
  border-radius: 8px 8px 8px 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(140, 141, 142);
  margin-top:15px;
}

.qr-input{
    color: rgba(228, 0, 43, 1);
    font-size: 55px;
    margin-top: 15px;
}
.warning-inputs-scan {
    color: #E4002B;
    font-family: "Roboto"; 
    font-style:normal;
    font-weight:400;
    font-size: 12px;
    margin-bottom: 15px;
    
  }
  .label-text-scan-disabled{
    color: rgba(228, 0, 43, 1)!important;
    font-family: "Roboto";
    font-weight:480;
    font-size: 24px;
    border-bottom: #c7c3c3 1px solid;
    padding-bottom: 0px;
    margin-top: 22px;
   }
  
   .font-tunning-grey{
    margin-top:-10px;
    color:#63666A;
    font-family: 'Roboto';
    font-weight: 480;
    font-style: normal;
    font-size: 14px;
    

  }
  .font-tunning-black{
    margin-top:-10px;
    color:#424242;
    font-family: 'Roboto';
    font-weight: 480;
    font-style: normal;
    font-size: 13px;
   
    
  }
  .print{
      font-size: 41px;
      margin-top: 10px;
      margin-bottom:20px;
      color: #63666A;      
    }

    .cycle{
      color: rgb(70, 70, 70);
      margin-top: -1px;
      font-size:24px;
  }

  .inputfield-fine-tunning{
    font-size: 13px !important;
    font-family: 'Roboto'!important;
    font-style: normal!important;
    border: none!important;
    outline: none!important;
    padding-left: 0px!important;
    padding-top: -20px!important;
    margin-top: -5px !important;
    width:50px !important;
  }
  /* .input-field-fine-tunning{
    margin-top: 1px !important;
  } */